* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #474747, #525252);
  font-family: 'Exo 2', sans-serif;
}

input,
button {
  outline: none;
  border: none;
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
}
